.git
.mixin.out
backups
crash-reports
downloads
fonts
logs
models
patchouli_books
resourcepacks
saves
schematics
screenshots
zettaindustries
natives

world*
tmp
XaeroWorldMap
XaeroWaypoints*


.curseclient
crafttweaker.log
manifest.json
minecraftinstance.json
modlist.html
OpenComputersMod-1.7.5.192-lua52-native.64.dll
OpenComputersMod-1.7.5.192-lua53-native.64.dll
options.txt
patchouli_data.json
servers.dat
usercache.json
usernamecache.json
WailaErrorOutput.txt

mods/FastAsyncWorldEdit-forge112-19.11.13-5505943-1282-22.3.5.jar
mods/TickDynamic-1.12.2-1.0.2.jar

config/FastAsyncWorldEdit
ForgeEssentials/playerlogger.h2.db
ForgeEssentials/playerlogger.trace.db
ForgeEssentials/ChatLog
ForgeEssentials/ItemList.txt
ForgeEssentials/PermissionList_Blocks.txt
ForgeEssentials/PermissionList_Items.txt
ForgeEssentials/PermissionsList.txt
ForgeEssentials/modlist.txt

hs_err*
