# Configuration file

"balance settings" {
    I:bagStackSize=512
    D:bitLightPercentage=6.25
    B:blacklistTickingBlocks=true
    B:compatabilityMode=true
    B:damageTools=true
    I:diamondChiselUses=796480
    I:diamondSawUses=7980
    B:enableBitLightSource=true
    B:enableChiselToolHarvestCheck=true
    S:enableChiselToolHarvestCheckTools=pickaxe,axe,shovel
    B:enableSetBitCommand=false
    B:enableToolHarvestLevels=true
    B:fullBlockCrafting=true
    I:goldChiselUses=1024
    I:ironChiselUses=293440
    D:maxDrawnRegionSize=4.0
    B:requireBagSpace=false
    I:stoneChiselUses=8384
    B:voidExcessBits=false
    I:wrenchUses=1888
}


"client performance settings" {
    B:defaultToDynamicRenderer=false
    I:dynamicMaxConcurrentTessalators=32
    I:dynamicModelFaceCount=40
    B:dynamicModelMinimizeLatancy=true
    I:dynamicModelRange=128
    B:dynamicRenderFullChunksOnly=true
    B:forceDynamicRenderer=false
    I:maxMillisecondsPerBlock=10
    I:maxMillisecondsUploadingPerFrame=15
    I:minimizeLatancyMaxTime=100
    S:useVBO=AUTOMATIC
}


"client settings" {
    B:addBrokenBlocksToCreativeClipboard=true
    B:chatModeNotification=false
    I:creativeClipboardSize=32
    B:displayMeasuringTapeInChat=false
    B:enableChiselMode_ConnectedMaterial=true
    B:enableChiselMode_ConnectedPlane=true
    B:enableChiselMode_DrawnRegion=true
    B:enableChiselMode_LargeCube=true
    B:enableChiselMode_Line=true
    B:enableChiselMode_MediumCube=true
    B:enableChiselMode_Plane=true
    B:enableChiselMode_SameMaterial=true
    B:enableChiselMode_SmallCube=true
    B:enableChiselMode_Snap2=true
    B:enableChiselMode_Snap4=true
    B:enableChiselMode_Snap8=true
    B:enablePositivePatternMode_Additive=true
    B:enablePositivePatternMode_Impose=true
    B:enablePositivePatternMode_Placement=true
    B:enablePositivePatternMode_Replace=true
    B:enableRightClickModeChange=false
    B:enableTapeMeasure_Bit=true
    B:enableTapeMeasure_Block=true
    B:enableTapeMeasure_Distance=true
    B:enableToolbarIcons=true
    B:fluidBitsAreClickThrough=true
    B:invertBitBagFullness=false
    B:itemNameModeDisplay=true
    I:maxTapeMeasures=5
    I:maxUndoLevel=32
    B:perChiselMode=true
    B:persistCreativeClipboard=true
    D:radialMenuVolume=0.10000000149011612
    B:showUsage=true
}


crafting {
    B:enableChiselCrafting=true
    B:enableNegativePrintInversionCrafting=true
    B:enablePositivePrintCrafting=true
    B:enableStackableCrafting=true
}


"enabled blocks" {
    B:al132.alchemistry.blocks.BaseBlock=true
    B:al132.alchemistry.blocks.WetSandBlock=true
    B:appeng.block.misc.BlockQuartzFixture=true
    B:appeng.block.misc.BlockTinyTNT=true
    B:appeng.decorative.solid.BlockChargedQuartzOre=true
    B:appeng.decorative.solid.BlockChiseledQuartz=true
    B:appeng.decorative.solid.BlockFluix=true
    B:appeng.decorative.solid.BlockQuartz=true
    B:appeng.decorative.solid.BlockQuartzGlass=true
    B:appeng.decorative.solid.BlockQuartzLamp=true
    B:appeng.decorative.solid.BlockQuartzOre=true
    B:appeng.decorative.solid.BlockQuartzPillar=true
    B:appeng.decorative.solid.BlockSkyStone=true
    B:biomesoplenty.common.block.BlockBOPAsh=true
    B:biomesoplenty.common.block.BlockBOPBiomeBlock=true
    B:biomesoplenty.common.block.BlockBOPCrystal=true
    B:biomesoplenty.common.block.BlockBOPGem=true
    B:biomesoplenty.common.block.BlockBOPGemOre=true
    B:biomesoplenty.common.block.BlockBOPGeneric=true
    B:biomesoplenty.common.block.BlockBOPHive=true
    B:biomesoplenty.common.block.BlockBOPLog=true
    B:biomesoplenty.common.block.BlockBOPPlanks=true
    B:biomesoplenty.common.block.BlockBOPWhiteSand=true
    B:biomesoplenty.common.block.BlockBOPWhiteSandstone=true
    B:"blusunrize.immersiveengineering.common.IEContent$1"=true
    B:blusunrize.immersiveengineering.common.blocks.BlockIEBase=true
    B:blusunrize.immersiveengineering.common.blocks.metal.BlockMetalDecoration0=true
    B:cofh.thermalfoundation.block.BlockOre=true
    B:cofh.thermalfoundation.block.BlockOreFluid=true
    B:cofh.thermalfoundation.block.BlockRockwool=true
    B:cofh.thermalfoundation.block.BlockStorage=true
    B:cofh.thermalfoundation.block.BlockStorageAlloy=true
    B:cofh.thermalfoundation.block.BlockStorageResource=true
    B:com.asx.mdx.lib.world.block.BlockMaterial=true
    B:com.bymarcin.zettaindustries.mods.battery.block.BlockGraphite=true
    B:com.bymarcin.zettaindustries.mods.battery.block.CharcoalBlock=true
    B:com.bymarcin.zettaindustries.mods.vanillautils.block.VariableRedstoneEmitter=true
    B:com.creativemd.littletiles.common.block.BlockArrow=true
    B:com.creativemd.littletiles.common.block.BlockLTColored=true
    B:com.creativemd.littletiles.common.block.BlockLTColored2=true
    B:com.creativemd.littletiles.common.block.BlockLittleDyeable=true
    B:com.creativemd.littletiles.common.block.BlockLittleDyeable2=true
    B:com.creativemd.littletiles.common.block.BlockStorageTile=true
    B:com.pam.harvestcraft.blocks.blocks.BeeBlock=true
    B:com.pam.harvestcraft.blocks.blocks.WellBlock=true
    B:com.sosnitzka.taiga.blocks.BlockCobble=true
    B:com.sosnitzka.taiga.blocks.BlockMeteoriteRock=true
    B:com.sosnitzka.taiga.blocks.BlockTiberium=true
    B:com.sosnitzka.taiga.generic.BasicBlock=true
    B:com.sosnitzka.taiga.generic.BlockOre=true
    B:"com.wealthyturtle.additionalcompression.CompressedBlockRegistry$1"=true
    B:"com.wealthyturtle.additionalcompression.CompressedBlockRegistry$2"=true
    B:com.wealthyturtle.additionalcompression.blocks.BlockCompressedSimple=true
    B:crazypants.enderio.base.block.darksteel.obsidian.BlockReinforcedObsidian=true
    B:crazypants.enderio.base.block.decoration.BlockDecoration=true
    B:crazypants.enderio.base.block.decoration.BlockDecorationFacing=true
    B:crazypants.enderio.base.block.infinity.BlockInfinity=true
    B:crazypants.enderio.base.block.insulation.BlockIndustrialInsulation=true
    B:crazypants.enderio.base.material.alloy.BlockAlloy=true
    B:crazypants.enderio.base.material.alloy.endergy.BlockEndergyAlloy=true
    B:ferro2000.immersivetech.common.blocks.stone.BlockStoneDecoration=true
    B:flaxbeard.immersivepetroleum.common.blocks.BlockIPBase=true
    B:gcewing.sg.block.NaquadahBlock=true
    B:gcewing.sg.block.NaquadahOreBlock=true
    B:li.cil.oc.common.block.ChameliumBlock=true
    B:li.cil.oc.common.block.FakeEndstone=true
    B:matteroverdrive.blocks.BlockDecorative=true
    B:matteroverdrive.blocks.BlockDecorativeColored=true
    B:matteroverdrive.blocks.BlockDecorativeRotated=true
    B:matteroverdrive.blocks.BlockFusionReactorCoil=true
    B:matteroverdrive.blocks.includes.MOBlock=true
    B:matteroverdrive.blocks.includes.MOBlockOre=true
    B:matteroverdrive.blocks.world.DilithiumOre=true
    B:"mekanism.common.block.BlockBasic$1"=true
    B:mekanism.common.block.BlockOre=true
    B:mekanism.common.block.BlockPlastic=true
    B:mekanism.common.block.BlockSalt=true
    B:mods.railcraft.common.blocks.aesthetics.brick.BlockBrick=true
    B:mods.railcraft.common.blocks.aesthetics.concrete.BlockReinforcedConcrete=true
    B:mods.railcraft.common.blocks.aesthetics.metals.BlockMetal=true
    B:mods.railcraft.common.blocks.ore.BlockOreMagic=true
    B:mods.railcraft.common.blocks.ore.BlockOreMetal=true
    B:mods.railcraft.common.blocks.ore.BlockOreMetalPoor=true
    B:mrtjp.projectred.exploration.BlockDecorativeStone=true
    B:mrtjp.projectred.exploration.BlockOre=true
    B:"nc.block.BlockMeta$BlockCooler"=true
    B:"nc.block.BlockMeta$BlockFission"=true
    B:"nc.block.BlockMeta$BlockIngot"=true
    B:"nc.block.BlockMeta$BlockOre"=true
    B:nc.block.NCBlock=true
    B:net.blay09.mods.cookingforblockheads.block.BlockKitchenFloor=true
    B:net.malisis.doors.block.RustyLadder=true
    B:net.minecraft.block.Block=true
    B:net.minecraft.block.BlockBone=true
    B:net.minecraft.block.BlockBookshelf=true
    B:net.minecraft.block.BlockClay=true
    B:net.minecraft.block.BlockColored=true
    B:net.minecraft.block.BlockCompressedPowered=true
    B:net.minecraft.block.BlockConcretePowder=true
    B:net.minecraft.block.BlockDirt=true
    B:net.minecraft.block.BlockDoubleStoneSlab=true
    B:net.minecraft.block.BlockDoubleWoodSlab=true
    B:net.minecraft.block.BlockGlass=true
    B:net.minecraft.block.BlockGlazedTerracotta=true
    B:net.minecraft.block.BlockGlowstone=true
    B:net.minecraft.block.BlockGrass=true
    B:net.minecraft.block.BlockGravel=true
    B:net.minecraft.block.BlockHardenedClay=true
    B:net.minecraft.block.BlockHay=true
    B:net.minecraft.block.BlockIce=true
    B:net.minecraft.block.BlockMelon=true
    B:net.minecraft.block.BlockMycelium=true
    B:net.minecraft.block.BlockNetherBrick=true
    B:net.minecraft.block.BlockNetherrack=true
    B:net.minecraft.block.BlockNewLeaf=true
    B:net.minecraft.block.BlockNewLog=true
    B:net.minecraft.block.BlockObserver=true
    B:net.minecraft.block.BlockObsidian=true
    B:net.minecraft.block.BlockOldLeaf=true
    B:net.minecraft.block.BlockOldLog=true
    B:net.minecraft.block.BlockOre=true
    B:net.minecraft.block.BlockPackedIce=true
    B:net.minecraft.block.BlockPlanks=true
    B:net.minecraft.block.BlockPrismarine=true
    B:net.minecraft.block.BlockQuartz=true
    B:net.minecraft.block.BlockRedSandstone=true
    B:net.minecraft.block.BlockRedstoneLight=true
    B:net.minecraft.block.BlockRedstoneOre=true
    B:net.minecraft.block.BlockRotatedPillar=true
    B:net.minecraft.block.BlockSand=true
    B:net.minecraft.block.BlockSandStone=true
    B:net.minecraft.block.BlockSeaLantern=true
    B:net.minecraft.block.BlockSilverfish=true
    B:net.minecraft.block.BlockSlime=true
    B:net.minecraft.block.BlockSnowBlock=true
    B:net.minecraft.block.BlockSponge=true
    B:net.minecraft.block.BlockStainedGlass=true
    B:net.minecraft.block.BlockStainedHardenedClay=true
    B:net.minecraft.block.BlockStone=true
    B:net.minecraft.block.BlockStoneBrick=true
    B:net.minecraft.block.BlockWorkbench=true
    B:org.avp.block.BlockOreCobalt=true
    B:org.avp.block.BlockOreMonazite=true
    B:org.avp.block.BlockOreSilicon=true
    B:org.avp.block.BlockParadiseLog=true
    B:org.avp.block.BlockTempleSpawner=true
    B:org.avp.block.BlockUnidentifiedDirt=true
    B:org.avp.block.BlockUnidentifiedLog=true
    B:org.avp.block.BlockWall=true
    B:org.dave.compactmachines3.block.BlockWallBreakable=true
    B:slimeknights.tconstruct.gadgets.block.BlockBrownstone=true
    B:slimeknights.tconstruct.gadgets.block.BlockDriedClay=true
    B:slimeknights.tconstruct.shared.block.BlockClearGlass=true
    B:slimeknights.tconstruct.shared.block.BlockClearStainedGlass=true
    B:slimeknights.tconstruct.shared.block.BlockDecoGround=true
    B:slimeknights.tconstruct.shared.block.BlockFirewood=true
    B:slimeknights.tconstruct.shared.block.BlockMetal=true
    B:slimeknights.tconstruct.shared.block.BlockOre=true
    B:slimeknights.tconstruct.shared.block.BlockSlime=true
    B:slimeknights.tconstruct.shared.block.BlockSlimeCongealed=true
    B:slimeknights.tconstruct.shared.block.BlockSoil=true
    B:slimeknights.tconstruct.smeltery.block.BlockSeared=true
    B:slimeknights.tconstruct.world.block.BlockSlimeDirt=true
    B:slimeknights.tconstruct.world.block.BlockSlimeLeaves=true
    B:"team.chisel.Features$31$1"=true
    B:"team.chisel.Features$32$1"=true
    B:"team.chisel.Features$33$1"=true
    B:"team.chisel.Features$34$1"=true
    B:"team.chisel.Features$35$1"=true
    B:"team.chisel.Features$37$1"=true
    B:"team.chisel.Features$49$1"=true
    B:"team.chisel.Features$51$1"=true
    B:"team.chisel.Features$57$1"=true
    B:"team.chisel.Features$59$1"=true
    B:"team.chisel.Features$7$1"=true
    B:"team.chisel.Features$73"=true
    B:"team.chisel.Features$76"=true
    B:"team.chisel.Features$8$1"=true
    B:team.chisel.common.block.BlockCarvable=true
    B:team.chisel.common.block.BlockCarvableCarpet=true
    B:therealfarfetchd.quacklib.common.block.BlockNikoliteOre=true
    B:xyz.vsngamer.elevator.blocks.BlockElevator=true
    B:zmaster587.advancedRocketry.block.BlockCharcoalLog=true
    B:zmaster587.advancedRocketry.block.BlockIntake=true
    B:zmaster587.advancedRocketry.block.BlockLinkedHorizontalTexture=true
    B:zmaster587.advancedRocketry.block.BlockMiningDrill=true
    B:zmaster587.advancedRocketry.block.BlockPlanetSoil=true
    B:zmaster587.advancedRocketry.block.plant.BlockAlienPlank=true
    B:zmaster587.advancedRocketry.block.plant.BlockAlienWood=true
    B:zmaster587.libVulpes.block.BlockOre=true
}


"integration settings" {
    B:ShowBitsInJEI=false
    B:enableMCMultipart=true
    B:enableVivecraftCompatibility=false
}


items {
    B:enableBitBag=true
    B:enableBitSaw=true
    B:enableBitTank=true
    B:enableChisledBits=true
    B:enableDiamondChisel=true
    B:enableGoldChisel=true
    B:enableIronChisel=true
    B:enableMirrorPrint=true
    B:enableNegativePrint=true
    B:enablePositivePrint=true
    B:enableStoneChisel=true
    B:enableTapeMeasure=true
    B:enableWoodenWrench=true
}


"revertible states" {
    B:"chisel%3Aandesite?variation=7"=true
    B:"chisel%3Ablockiron?variation=2"=true
    B:"chisel%3Ablockiron?variation=5"=true
    B:"chisel%3Ablockiron?variation=6"=true
    B:"chisel%3Abricks?variation=6"=true
    B:"chisel%3Acobblestone1?variation=7"=true
    B:"chisel%3Acobblestone?variation=3"=true
    B:"chisel%3Acobblestone?variation=7"=true
    B:"chisel%3Adiorite1?variation=8"=true
    B:"chisel%3Afactory?variation=0"=true
    B:"chisel%3Airon?variation=14"=true
    B:"chisel%3Airon?variation=2"=true
    B:"chisel%3Amarble1?variation=5"=true
    B:"chisel%3Amarble2?variation=7"=true
    B:"chisel%3Aplanks-birch?variation=1"=true
    B:"chisel%3Astonebrick1?variation=0"=true
    B:"chisel%3Astonebrick1?variation=6"=true
    B:"chisel%3Atechnical1?variation=3"=true
    B:"chisel%3Atechnical?variation=4"=true
    B:"immersiveengineering%3Aore?type=aluminum"=true
    B:"immersiveengineering%3Atreated_wood?type=horizontal"=true
    B:"immersivepetroleum%3Astone_decoration?type=asphalt"=true
    B:"minecraft%3Acoal_block?"=true
    B:"minecraft%3Acoal_ore?"=true
    B:"minecraft%3Acobblestone?"=true
    B:"minecraft%3Aconcrete?color=black"=true
    B:"minecraft%3Aconcrete?color=blue"=true
    B:"minecraft%3Aconcrete?color=gray"=true
    B:"minecraft%3Aconcrete?color=silver"=true
    B:"minecraft%3Aconcrete?color=white"=true
    B:"minecraft%3Aconcrete_powder?color=gray"=true
    B:"minecraft%3Acrafting_table?"=true
    B:"minecraft%3Adirt?snowy=false&variant=dirt"=true
    B:"minecraft%3Adouble_stone_slab?seamless=false&variant=quartz"=true
    B:"minecraft%3Aemerald_block?"=true
    B:"minecraft%3Aglass?"=true
    B:"minecraft%3Aglowstone?"=true
    B:"minecraft%3Agrass?snowy=false"=true
    B:"minecraft%3Agravel?"=true
    B:"minecraft%3Airon_block?"=true
    B:"minecraft%3Alapis_ore?"=true
    B:"minecraft%3Aleaves?check_decay=false&decayable=true&variant=birch"=true
    B:"minecraft%3Aleaves?check_decay=false&decayable=true&variant=spruce"=true
    B:"minecraft%3Aleaves?check_decay=true&decayable=true&variant=spruce"=true
    B:"minecraft%3Alog?axis=y&variant=birch"=true
    B:"minecraft%3Alog?axis=y&variant=oak"=true
    B:"minecraft%3Alog?axis=z&variant=oak"=true
    B:"minecraft%3Anether_brick?"=true
    B:"minecraft%3Aobsidian?"=true
    B:"minecraft%3Aplanks?variant=acacia"=true
    B:"minecraft%3Aplanks?variant=birch"=true
    B:"minecraft%3Aplanks?variant=oak"=true
    B:"minecraft%3Aplanks?variant=spruce"=true
    B:"minecraft%3Apurpur_block?"=true
    B:"minecraft%3Aquartz_block?variant=default"=true
    B:"minecraft%3Asand?variant=sand"=true
    B:"minecraft%3Asandstone?type=smooth_sandstone"=true
    B:"minecraft%3Astone?variant=granite"=true
    B:"minecraft%3Astone?variant=smooth_andesite"=true
    B:"minecraft%3Astone?variant=stone"=true
    B:"minecraft%3Astonebrick?variant=stonebrick"=true
    B:"minecraft%3Awool?color=white"=true
    B:"tconstruct%3Ametal?type=cobalt"=true
    B:"tconstruct%3Aseared?type=brick"=true
    B:"tconstruct%3Aslime_congealed?type=green"=true
}


troubleshooting {
    B:disableCustomVertexFormats=false
    B:enableAPITestingItem=false
    B:enableFaceLightmapExtraction=true
    B:logEligibilityErrors=false
    B:logTileErrors=false
    B:useGetLightValue=true
}


