# Configuration file

cases {
    # downgrading on existing worlds might result in losing already installed components
    I:tier_ibm5150=3

    # downgrading on existing worlds might result in losing already installed components
    I:tier_next=3

    # downgrading on existing worlds might result in losing already installed components
    I:tier_oc_slim=3

    # downgrading on existing worlds might result in losing already installed components
    I:tier_workstation=3
}


recipedict {
    # if set to true items will be damaged on recipe lookup, or destroyed if they cant handle damage
    B:damageOrDestroyOnRecipeLookup=false

    # if set to true the recipe dictionary doesnt require an item to lookup recipes
    B:enableCreativeRecipeLookup=false
}


