# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=d259594a-62bc-4870-84a5-bae0a1d81c21

    # Set to true to disable all reporting
    B:opt-out=false
}


